<h1> Programming Project #4<br>
</h1>

<h2> - Siddhartha gupta<br>

Image Stitching </h2> <br>

<b> Semi-Automated Stitching</b>

Point correspondences are first established manually using 'ginput' command. (I used 6 points) The 'Normalized Direct Linear Transform' method is used then to compute the Homography matrix, which contains 12 degrees of freedom corresponding to the 6 x,y points. The second image is then warped with the computed Homography transformation matrix thus obtained and merged with the first image.  <br> <br>

2 snaps of a howitzer artillery blended together.
<table width=10%  cellspacing="55">
<tr>
<td width=10% align=center>
<a href= "howitzer_00.JPG">
<img src="howitzer_00.JPG" height="355" width = "455"  > </a> 
Image 1


<td width=10% align=center>
<a href= "howitzer_01.JPG">
<img src="howitzer_01.JPG" height="355" width = "455"  > </a> <br>
Image 2
</table>

<table width=10%  cellspacing="55">
<tr>
<td width=10% align=center>
<a href= "set2_annotated.jpg">
<img src="set2_annotated.jpg" height="355" width = "455"  > </a> <br>
Annotated Images

<td width=10% align=center>
<a href= "set2_annotated2.jpg">
<img src="set2_annotated2.jpg" height="355" width = "495"  >  </a>

</table>


<table width=10%  cellspacing="55">
<td width=10% align=center>
<a href= "set2_projected.jpg">
<img src="set2_projected.jpg" height="455" width = "595" >  </a>
Projected images<br>


<td width=10% align=center>
<a href= "set2_projected2.jpg">
<img src="set2_projected2.jpg" height="455" width = "595" >  </a>
<br>

</table>

<br>
<a href= "set2final.jpg">
<img src="set2final.jpg" height="455" width = "595" >  </a> <br>
 Stitched final image<br>
<br><br>
More examples, Rocky Mountains image stitching.

<table width=10%  cellspacing="55">
<td width=10% align=center>
<a href= "rmnp_02.JPG">
<img src="rmnp_02.JPG" height="355" width = "465" >  </a>
Image 1

<td width=10% align=center>
<a href= "rmnp_01.JPG">
<img src="rmnp_01.JPG" height="355" width = "465" >  </a>
<br>
Image 2 
</table>

<a href= "mtnfinal.jpg">
<img src="mtnfinal.jpg" height="355" width = "465" >  </a>
<br>
Final Image <br> <br>

A classroom in Everitt Lab.

<table width=10%  cellspacing="55">
<td width=10% align=center>
<a href= "set1.jpg">
<img src="set1.jpg" height="355" width = "465" >  </a>
Image 1

<td width=10% align=center>
<a href= "set1_3.jpg">
<img src="set1_3.jpg" height="355" width = "465" >  </a>
<br>
Image 2 
</table>

<a href= "set1_2.jpg">
<img src="set1_2.jpg" height="355" width = "465" >  </a>
<br>
Final Image <br> <br> <br>

<h3> Bells and Whistles </h3>
<h4>Using a Laplacian pyramid blend (Multi-band blending), using the same source images as above: </h4>

<table width=10%  cellspacing="55">
<td width=10% align=center>
<a href= "lap1.jpg">
<img src="lap1.jpg" height="355" width = "465" >  </a>
<br>
Image 2 
</table> <br> <br> <br>

<h4> Stitching multiple images </h4>

Stitched these 2 first:
<table width=10%  cellspacing="55">
<td width=10% align=center>
<a href= "laptop_00.JPG">
<img src="laptop_00.JPG" height="355" width = "465" >  </a>
Image 1

<td width=10% align=center>
<a href= "laptop_01.JPG">
<img src="laptop_01.JPG" height="355" width = "465" >  </a>
<br>
Image 2 
</table>

Result: <br>

<a href= "triple5.jpg">
<img src="triple5.jpg" height="355" width = "665" >  </a> <br>


Then stitched these 2:

<table width=10%  cellspacing="55">
<td width=10% align=center>
<a href= "laptop_02.JPG">
<img src="laptop_02.JPG" height="355" width = "465" >  </a>
Image 1

<td width=10% align=center>
<a href= "laptop_03.JPG">
<img src="laptop_03.JPG" height="355" width = "465" >  </a>
<br>
Image 2 
</table>

Result: <br> <br>

<a href= "triple2.jpg">
<img src="triple2.jpg" height="355" width = "465" >  </a> <br>

Stitched the 2 results to get:
<a href= "triple1.jpg">
<img src="triple1.jpg" height="355" width = "465" >  </a>
<br>
