<h1> Computational Photography Projects</h1>
<h2>-Siddhartha gupta</h2> <br>


We use principles of computer vision and graphics to come up with more visually appealing and life-like imagery. We create optical illusions, add or remove objects from a photograph, smoothly morph between faces, automatically stitch together photos into panoramas, enhance colors and intensities of images, merge one into another, and so much more! <br>
Here are the projects we've worked on so far: <br> <br>


<h3><a href= "proj1">
Hybrid Images & Image Enhancement  </a> <br><br>

<a href= "proj2">
Image Quilting   </a><br><br>

<a href= "proj3">
Gradient-Domain Fusion   </a><br>
<br>
<a href= "proj4">
Image Morphing  </a><br><br>

<a href= "proj5">
Image Stitching  </a><br><br>


<a href= "final">Final Project - Image Analogies</a>
</h3>
