<head>
<title> Embedded Systems </title>
<h1>Embedded Systems Project</h1>

This is one of my favorite projects I did here at the U of I, balancing a ball on a touchscreen board with the help of a joystick and PID Control. <b>dsPIC33f</b> was the microcontroller used, along with Microchip compiler and MPLAB IDE. PID Control stands for: <br> <br>
<b> Proportional -  </b> This is what drives the ball towards its destination coordinates. <br>
<b> Integral - </b> If the ball does get stuck at a point, Integral (sum of instantaneous error over time) builds up and gives the ball a jump.<br>
<b> Derivative - </b> This decelerates the ball as it approaches its destination, thus preventing from overshooting too far and eventually the ball converges to its destination. 
<p> <font size = 5>Demo Video </font> </p> <br>

<iframe width="560" height="315" src="http://www.youtube.com/embed/XP2lOKLxvqU" frameborder="0" allowfullscreen></iframe> <br> <br>

The joystick was used to specify a coordinate to balance the ball at as shown in the video. The hours spent in lab were rewarding, and especially helped me learn how to work with long complicated datasheets (My previous experience with datasheets was limited to a bit with Arduino and i8259 PIC). 