{% extends "upperJSrow_template.html" %}

<!-- Start of block -->
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siddhartha Gupta</title>
</head>

<body>

<div class="container">
    
        <h2 >Cloud Computing</h2> 
	
This was the other cloud computing class I took, which dealt with the intersection of mobile computing and cloud computing. Wireless networking and cloud computing theory was covered, and a significant portion of the course was devoted to practical mobile software development.
<br>
We made an app on Windows platform. (The necessary mobile and cloud computing infrastructure was provided in partnership with Microsoft Research.)
	
<br>
    <h3>Convo: a chat platform with a social networking essence.</h3>

<h4> Snippet from Course Website:</h4>

<iframe src="http://wiki.engr.illinois.edu/display/ece498hp/7.+Project+Gallery" width="950" height="800" align="middle"></iframe>

<br><br>
Users could post statuses reflecting what they’ve been upto and if they are planning any events. They could also upload a profile picture for which we used the blob storage.
<br>
The 'Locator' feature enabled a user to see his location or the current location of his friends on Bing maps. To respect users’ privacy, users could only view a 
friends’ location if the friend has his locator turned on and made his location public.

<br><br>
<h4> Prezi: </h4>

<iframe src="http://prezi.com/embed/r_jbzfuut_oz/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0"></iframe>
</div>

</body>
</html>

<!-- End of block -->
{% endblock %}