{% extends "upperJSrow_template.html" %}

<!-- Start of block -->
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siddhartha Gupta</title>
    
</head>

<body>

<div class="container">

<table cellspacing="30">
<tr>
<td>
<div class = "me"> <img src="static/images/Sid.jpg" height = "350" width = "250"> </div></td>
<td valign="baseline"><p> <br> <br> I'm a Software Engineer working at <a href="https://electric-cloud.com/">Electric Cloud</a>. I graduated with my bachelors in Computer Engineering at the <a href="http://illinois.edu/">University of Illinois at Urbana-Champaign.</a> where I took a variety of classes like Distributed systems, Cloud computing, Embedded Systems, Parallel Programming, Databases, Algorithms, Computer Architecture among others. I have had substantial experience with C++, C, Java, Python, and have worked with technologies such as Hadoop, Map Reduce, <a href="http://thrift.apache.org/">Thrift</a>, <a href="http://www.vagrantup.com/">Vagrant</a>, <a href="http://openmp.org/wp/">OpenMP</a>, <a href="http://mahout.apache.org/"> Mahout </a> and <a href="https://code.google.com/p/mockito/">Mockito</a> among others. This website features my technical work. </p><br></td>
</tr>

</table> 
</div>

<!-- fade in icons 
<ul class = "giticonclass">
<img src="static/images/github.jpg" height = "200" width = "200" > </ul>
-->

<!-- <a href= "https://www.facebook.com/Siddhartha.Illinois"> <img src="static/imgs/fb.png" height = "20" width = "20" > </a>
<a href= "static/imgs/gplus.jpg"> <img src="static/imgs/gplus.jpg" height = "20" width = "20" > </a>
<a href= "http://siddharthag.yelp.com/"> <img src="static/imgs/yelp.png" height = "20" width = "20" > </a>
-->

</body>
</html>

<!-- End of block -->
{% endblock %}