<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/stylish.css">
    <title>Siddhartha Gupta</title>
    
</head>

<script type="text/javascript" src="static/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="static/js/automate.js"></script>

<noscript>
    Javascript is disabled.Redirecting to basic website.
    
    <meta HTTP-EQUIV="REFRESH" content="5; url=http://web.engr.illinois.edu/~gupta49/profile/">
</noscript>

<html>
  
  <head>
    <title>{{title}} - About Me</title>
  </head>

  <body>
   

<div class = "name">

  <h2 class = "MyName" >Siddhartha Gupta </h2> 
  
  <div class = "links" >
      
    <h4 class = "l1"> <strong>PROJECTS <span class="triangle">▼</span></strong>        
      
      <ul class = "l1_content">
            
            <li class = "m1">
              <strong class="Distributed"> Distributed Systems </strong>
            </li>
            
            <li class = "m2">
              <strong class = "Data">Data Structures</strong>
          </li>
          <li class = "m3">
              <strong class = "Embedded">Embedded Systems</strong>
            </li>
          <li class = "m4">
              <strong class = "Cloud-Computing">Cloud Computing</strong>
            </li>            
         <!--    
            <li class = "m4">
              <strong class = "Computational">Computational Photography</strong> 
            </li> 
          -->   
      </ul>
          
      </h4>
        <!--      
    <h4 class = "l2"> Resume </h4>
            -->   
 <h4 class = "l3"> ABOUT </h4>

  </div>
  
</div>

{% block content %}{% endblock %}

<hr width=70%>

<div id="followIcons">
    <a href="http://linkedin.com/in/guptasiddhartha" id="iconLinkedIn">David Walsh LinkedIn</a>
  </div>





<div class = "credits">
 <center> 
  <p> Siddhartha Gupta 2014  
    <a href= "mailto:gupta49@illinois.edu"> E-mail </a> 
    <a href= "http://www.linkedin.com/in/guptasiddhartha" target="_blank" > LinkedIn </a>   
    <a href= "https://github.com/Siddhartha90" target="_blank" > GitHub </a> 
  </p>
 </center>

</div>

  </body>
</html>